html {
  font-family: sans-serif;
}

/** 
    Name : Gurinder Singh 
    Date:18 June,2025
    file name : part2.html
    description : this is style for part 2*/ 
    body { .fancy-box {
  width: 200px;                            
  height: 150px;                          

  display: flex;                           
  justify-content: center;                
  align-items: center;                   
  text-align: center;                    

  font-size: 1.1rem;                       


  background-color: #3498db;              
  color: #ffffff;                         
  text-shadow: 1px 1px 0 #000000;        

  border-radius: 8px;                    
  border: 1px solid #2c80b4;             

  background-image: linear-gradient(      
    to bottom right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0.2) 100%
  );

  box-shadow:                             
    0 4px 8px rgba(0, 0, 0, 0.2),         
    inset 2px 2px 4px rgba(255, 255, 255, 0.4),
     inset -2px -2px 4px rgba(0, 0, 0, 0.3);     
}


    }
